<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📝</text></svg>"
    />
    <title>day notes</title>
    <style is:global>
      body {
        font-family:
          Menlo,
          Consolas,
          Monaco,
          Liberation Mono,
          Lucida Console,
          monospace;
        margin: 0 auto;
        color: #333;
        line-height: 1.5;
      }

      main {
        max-width: 60ch;
      }

      button {
        padding: 0.5rem;
        cursor: pointer;
      }

      textarea {
        color: #333;
      }

      @media (prefers-color-scheme: dark) {
        body {
          background: #222;
          color: #eee;
        }
        textarea {
          background: #333;
          color: #eee;
        }
      }

      a {
        color: #77f;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
